.moviecard{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5s;
}
.moviecard:hover{
    opacity: 0.5;
    transform: translateY(-30px);
    transition: 0.5s;
}

.movieimage{
    border-radius: 10px;
    background-color: azure;

}

@media (max-width:560px) {
    .movieimage{
        width: 90%;
        height: auto;
    }
}

.titulo{
    color: rgb(123, 0, 239)!important;
}